$pageWidth:       195mm;
$pageHeight:      270mm;
$lineHeight:      18px;
$lineHeightSmall: 10px;
$font:            10px/#{$lineHeight} 'Noto Sans Condensed', sans-serif;
$fontSmall:       7px/#{$lineHeightSmall} 'Noto Sans Condensed', sans-serif;
$height:          18px;
$borderWidth:     4px;
$smallBorder:     1px solid #999999;
$background:      #999999;
$lineColor:       #dddddd;
$labelColor:      #333333;
$tempColor:       #999999;
$labelBoxColor:   white;


* { box-sizing: border-box; margin: 0; padding: 0; border: 0; background: transparent; }
body, html { background: white; color: black; font: $font; padding-top: 3vw; }

.small { font: $fontSmall; padding: ($height - $lineHeightSmall)/2 $borderWidth/2;}

.g5 { display: grid; grid-template-columns: repeat(5, 1fr); }
.g4 { display: grid; grid-template-columns: repeat(4, 1fr); }
.g3 { display: grid; grid-template-columns: repeat(3, 1fr); }
.g2 { display: grid; grid-template-columns: repeat(2, 1fr); }

header {
	@extend .g5;
	grid-gap: .25vw; padding: .25vw; position: fixed; top: 0; left: 0; right: 0; background: $background; border-bottom: 1px solid black; z-index: 10;
	* { text-align: center; font: .8vw/2vw sans-serif; background: #666666; color: white; vertical-align: middle; margin: .1vw 0; }
	> .extra {
		@extend .g5;
		display: none; grid-column-start: 1; grid-column-end: 6; background: transparent; grid-gap: .25vw; margin: 0;
		div:last-child { @extend .g3; }
		input { background: white; color: black; }
	}
}
#export { resize: none; appearance: none; -moz-appearance: none; width: calc(100% - 6vw) ; height: calc(100% - 6vw); display: none; position: fixed; z-index: 11; top: 3vw; left: 3vw; white-space: pre; font: .8vw/.9vw monospace; overflow: scroll; background: rgba(255, 255, 255, .9); border: .25vw solid black; box-shadow: 2vw 2vw 2vw black; }
#holderColumn { min-height: $pageHeight; float: right; width: $pageWidth/3; }


/* CHARACTER SHEET STUFF */
.sortable-placeholder {
	height: $height; background: #cccccc; border: 1px dotted black; width: 100%; margin-bottom: $borderWidth;
	.list & { margin: $borderWidth/2 0; }
}
[draggable="true"] {
	position: relative;
	&:after { content: ' '; width: 8px; height: 8px; overflow: hidden; border-radius: 4px 4px 4px 0; position: absolute; top: -4px; right: -4px; background: red; cursor: move; opacity: .75; }
}
.box[draggable="true"]:after { background: blue; right: 0; }

.page {
	@extend .g3;
	border: $smallBorder; border-color: black; border-width: $borderWidth/2; width: $pageWidth; height: $pageHeight; margin: 0 0 $borderWidth 0; padding: $borderWidth/2;
	grid-gap: $borderWidth; grid-template-rows: 1fr 999fr;
	&.noPrint { border-style: dotted; }
}

.column {
	//background-image: url('data:image/svg+xml;utf8,<svg height="18" width="10" xmlns="http://www.w3.org/2000/svg"> <path d="M0,18 L10,18" fill="none" stroke="#cccccc" stroke-width="1"/> </svg>');
	background-image: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4IiB3aWR0aD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+IDxwYXRoIGQ9Ik0wLDE4IEwxMCwxOCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjY2NjY2NjIiBzdHJva2Utd2lkdGg9IjEiLz4gPC9zdmc+');
	background-size: auto $height;
}

.box {
	background: $background; padding: $borderWidth/2; border-radius: $borderWidth; margin-bottom: $borderWidth;
	&:last-child { margin-bottom: 0; }

	label {
		display: block; font: $fontSmall; margin: $borderWidth/2; background: white; color: $labelColor; font-variant: small-caps; text-align: center;
	}
	textarea {
		display: block; width: 100%; height: $height + 1px; border-bottom: $smallBorder; font: $font; background: white; color: black; appearance: none; resize: none;
		padding: ($height - $lineHeight)/2 $borderWidth/2; text-align: right; overflow: hidden;

		&.multiline {
			@extend .small;
			text-align: left;
		}
		&:focus { background: #99ccff; }
	}
	input.cb { display: none; }
	label.cb {
		width: $height/2; height: $height/2; border: $smallBorder; border-color: black; /*border-radius: $height/2*/; margin: ($height - $height/2)/2 0 0 1px;
		&.print { border-color: $labelColor; }
	}
	input.cb:checked + label.cb { background: black; }

	&.header {
		display: grid; grid-column-start: 1; grid-column-end: -1; grid-template-columns: 1fr; margin: 0;
		.page.main    & { grid-template-columns: 3fr 2fr 2fr 1fr; }
		.page.spells  & { grid-template-columns: 6fr 3fr 3fr 2fr 2fr; }
		.page.details & { grid-template-columns: repeat(4, 1fr)
			:first-child { grid-column-start: 1; grid-column-end: 3; }
		}
	}

	> .label,
	> .head > .label { font-variant: small-caps; color: white; font-weight: bold; margin: $borderWidth/2; margin-bottom: $borderWidth; }

	.list {
		margin: $borderWidth/2;
		.row {
			display: grid; grid-template-columns: 1fr; border-bottom: $smallBorder;
			textarea {
				@extend .small;
				border: none; margin: 0;
			}
		}
		label:last-child { margin: 0; }
		+ .list { margin-top: $borderWidth; }
	}
}

#boxMultiAbilities {
	display: grid; grid-template-columns: 2fr 7fr;

	> div:first-child {
		position: relative;
		> label {
			margin: $borderWidth/2;
			&:first-child { margin-bottom: $borderWidth; }
			&:last-child { position: absolute; bottom: 0; left: 0; right: 0; }
		}
		> div {
			margin: ($borderWidth * 6) 0;
			label:not(:last-child) { margin-bottom: $borderWidth; }
			span:not(:last-child) { border-bottom: $smallBorder; display: block; text-align: right; padding-right: $borderWidth; font: $font; color: black; }
			textarea { @extend .small; }
		}
	}

	> div:last-child {
		> label {
			display:grid; grid-template-columns: 49px auto;
			text-align: left; line-height: $height; height: $height; margin-bottom: $borderWidth;
			textarea { border: none; display: inline-block; margin-right: $borderWidth/2; border-right: $smallBorder; }
			span { padding-left: $borderWidth/2; }
		}

		> div {
			margin: $borderWidth/2; background: white;
			label:last-child { margin: 0; }
			div.row {
				display: grid; grid-template-columns: 11px 11px auto; margin: 0; border-bottom: $smallBorder;
				label {
					display: grid; grid-template-columns: 26px 44px auto; text-align: left; line-height: $height;
					span:not(:last-child) { display: inline; text-align: right; padding-right: $borderWidth/2; font: $font; color: black; }
					span:last-child { padding-left: $borderWidth/2; }
					textarea { display: inline-block; text-align: left; border: $smallBorder; border-top: none; border-bottom: none; height: $height; @extend .small; padding-left: $borderWidth/2; }
					&:not(.cb) { margin: 0; }
				}
			}
			&:first-child { margin-bottom: $borderWidth; }
		}
	}
}

#boxMultiHit {
	@extend .g3;
	.deathSaves {
		margin: $borderWidth/2;
		label {
			margin: 0; padding: 0 0 0 $borderWidth/2; text-align: left; height: $height/2; overflow: hidden;
			&:nth-child(2) { height: $height/2 + 1px; border-bottom: $smallBorder; }
			&:last-child { height: auto; text-align: center; }
		}
		textarea { border: 0; width: 60%; font: $fontSmall; height: $lineHeight/2; line-height: $lineHeight/2; float: right; padding: 0 $borderWidth/2 0 0; }
	}
}

#boxAttacks {
	.row {
		display: grid; grid-template-columns: 3fr 1fr 1fr;
		&:not(:last-child) { border-bottom: $smallBorder; }
		&:last-child { margin-bottom: $borderWidth/2; }
		textarea {
			height: $height;
			&:not(:last-child) { border-right: $smallBorder; }
			&:not(:first-child) { text-align: right!important; }
		}
	}
}

#boxCoinage {
	@extend .g3;
	textarea { @extend .small; }
}
#boxCharacterDetails {
	@extend .g3;
	:first-child { grid-column-start: 1; grid-column-end: 4; }
	textarea { @extend .small; }
}
#boxSpellcasting {
	@extend .g2;
	:first-child { grid-column-start: 1; grid-column-end: 3; }
	textarea { @extend .small; }
}

.box.spells {
	.head {
		margin: $borderWidth/2; margin-bottom: $borderWidth;
		display: grid; grid-gap: $borderWidth; grid-template-columns: 2fr 2fr 4fr; /*margin: $borderWidth/2 $borderWidth/2 $borderWidth 0;*/
		> * { margin: 0; }
		textarea { height: $height; border: none; }
	}
	.row { display: grid; grid-template-columns: 1fr 1fr 998fr; background: white; }
	&[data-id="0"] {
		.head {
			display: block;
			textarea { display: none; }
			* { border: 0; }
		}
		.row {
			display: block;
			label.cb { display: none; }
		}
	}
}


[data-id="characterName"],
[data-id="race"],
[data-id="class"],
[data-id="playerName"],
[data-id="alignment"],
[data-id="background"],
[data-id="hitDiceUsed"],
[data-id="deathSavesSuccess"],
[data-id="deathSavesFailure"],
[data-id="inspiration"],
[data-id="spellcastingClass"],
[data-id="spellcastingAbility"],
[data-id="age"],
[data-id="height"],
[data-id="weight"],
[data-id="eyes"],
[data-id="skin"],
[data-id="hair"],
.spells > .head > textarea:last-child,
{ text-align: left!important; }

[data-id="inspiration"],
[data-id="hitDiceUsed"],
[data-id="deathSavesSuccess"],
[data-id="deathSavesFailure"],
[data-id="hitPointsCurrent"],
[data-id="hitPointsTemporary"],
.spells > .head > textarea:last-child,
label.cb { color: $tempColor!important; }

@media print {
	body > *:not(.page),
	.noPrint { display: none!important; }
	html,
	body { margin: 0!important; padding: 0!important;}
	body > div.page { margin: auto; padding: 0; page-break-after: always; overflow: hidden; }
	textarea { overflow: hidden; }
	textarea:focus,
	input:focus { color: black; background: white; }
	[draggable="true"]:after { display: none!important; }
	input + label.cb { border-color: $tempColor!important; }
	input:checked + label.cb { background: $tempColor!important; }
}
